@media (max-width:575px)
{
	.text-brand{
		font-size: 5rem;
		text-align: center;
		margin-top: 3%;
	}
	.aboutTomo-des{
		position: relative;
		display: block;
		width:100%;
		top: 0;
		left: 0;
		margin-top: 20px;
	}
}