*{
	margin: 0;
	padding: 0;
}
body{}

ul, ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
@font-face{
	font-family: "feelingLovely";
	src: url("../fonts/FeelingLovely.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

#wrapper{
	background: linear-gradient(90deg, rgba(255,228,126,1) 0%, rgba(255,186,134,1) 50%, rgba(255,176,178,1) 100%);
}
/*Header*/
#header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header .logo{
	flex-basis: 40%;
}
#header .logo img{
	width: 70%;
}
nav ul.menu{
	display: flex;
	margin-bottom: 0;
}
nav ul.menu .menu-item{
	margin-right: 20px;
	transition: .3s;
	padding: 2px;
	border-radius: 4px;
}
nav ul.menu .menu-item:hover{
	background-color: #ffffff;

}
nav ul.menu .menu-item .menu-link{
	color: #000000;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
}
/*section1*/
.text-brand
{
	font-family: "feelingLovely";
	font-size: 7rem;
}
#section1 .slogan{}
#section1 .slogan p{
	font-weight: 600;
	font-size: 32px;
}
/*about Tomorder*/
#section2 {
    position: relative;
    width: 100%;
    overflow: visible;
    padding-top: 6%;
}

.aboutTomo {}
.aboutTomo .aboutTomo-img{
	position: relative;
}
.aboutTomo-des {
    background-color: rgba(0, 128, 0, 0.7);
    padding: 20px;
    width: 50%;
    position: absolute;
    top: -20%;
    right: 10%;
    z-index: 2;
}
#section3{
	margin-top: 3%;
}
#section3 h2{
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
.order-item {
    border: 1px solid #dedede;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}
